[submodule "rpg_monocular_pose_estimator"]
	path = rpg_monocular_pose_estimator
	url = https://github.com/uzh-rpg/rpg_monocular_pose_estimator.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
